* {
    margin: 0;
    padding: 0;
          
}
        
body {
font-family:'Poppins', sans-serif;
background-color: white;
overflow: hidden;
}
        
.container {
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
}
        
.header {
background-color:#3A9BD1;
color: white;
text-align: center;
padding: 15px;
font-size: 24px;
font-weight: bold;
letter-spacing: 1px;
}
        
.client-section {
display: flex;

width: 100%;
padding-right: 40px;
padding-left: 20px; /* Adicionado para afastar da esquerda */
background-color: white;
margin-top: 20px;
justify-content: space-between;
align-items: center;
}


.right-section{
    padding: 20px;
}
.client-info {
  display: flex;
  flex-direction: column;
  background-color: #e9f6fd;
  border-left: 4px solid #3A9BD1;
  padding: 10px 15px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.client-label {
  color: #3A9BD1;
  font-weight: 600;
  font-size: 14px;
}

.client-status {
  color: #444;
  font-size: 13px;
  margin-top: 4px;
}


        .action-buttons {
            display: flex;
            gap: 10px;
        }

        .btn-desconto {
            color: #4A90E2;
            border: none;
            padding: 8px
            padding: 8px 15px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 12px;
        }
        
        .btn-cancelar {
            color: #E74C3C;
            border: none;
            padding: 8px 15px;
            cursor: pointer;
            font-size: 12px;
        }
        
        .main-content {
            flex: 1;
            display: flex;
            background-color: white;
        }
        
        .left-panel {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }
        
        .search-container {
            position: relative;
            margin-bottom: 30px;
        }
        
        .search-input, .search-quant {
            width: 82.5%;
            padding: 12px 40px 12px 15px;
            border: none;
            border-radius: 6px;
            font-size: 16px;
            background-color: #f5f6f7;
        }


        .search-price{
            width: 140%;
            padding: 12px 40px 12px 15px;
            border: none;
            border-radius: 6px;
            font-size: 16px;
            background-color: #f5f6f7;
        }
        
        .search-icon {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            color: #999;
            font-size: 18px;
        }
        
        .quantity-price-container {
            position: relative;
            margin-bottom: 30px;
        }
        
        
        .input-label {
            font-size: 12px;
            color: #666;
            margin-bottom: 5px;
        }
        
        .quantity-input, .price-input {
            padding: 12px;
            border: 2px solid #ddd;
            border-radius: 6px;
            font-size: 16px;
            width: 100px;
            text-align: center;
        }
        
        .price-container {
            position: relative;
        }
        
        .currency-symbol {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            color: #999;
            font-size: 18px;
        }
        
        .price-input {
            padding-left: 35px;
            width: 120px;
        }
        
        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            margin-bottom: 20px;
        }
  
        
        .shortcuts {
            font-size: 11px;
            color: #666;
            line-height: 1.4;
        }
        
.right-panel {
    background-color: #f5f6f7;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    margin-right: 35px;
    margin-bottom: 15px;
    width: 650px;
    min-height: 400px;
}

.desconto {
    background-color: #f5f6f7;
    font-weight: bold;
    color: #3A9BD1;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    align-self: flex-start;
    margin-bottom: 10px;
}

.cancelar {
    background-color: #f5f6f7;
    font-weight: bold;
    color: #E74C3C;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    align-self: flex-start;
    margin-bottom: 10px;
}

/* Estatísticas abaixo da caixa */
.cart-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 672px;
}

.stat-item {
    text-align: left;
    flex: 1;
    font-size: 15.3px;
}
.total-value {
    font-weight: bold;
    font-size: 15x;
    margin-left: 8px; /* Espaço à esquerda */
}
.stat-label {
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}

.stat-value {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Botão finalizar abaixo das estatísticas */
.finalize {
    background-color:#3A9BD1;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 682px;
    margin-bottom: 35px;
}

        
        .bottom-actions {
            padding: 10px 40px 30px 40px;
            background-color: #f0f0f0;
            border-top: 1px solid #ddd;
            display: flex;
            justify-content: space-between;
        }
        
        .action-btn {
            background-color: transparent;
            border: none;
            padding: 10px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 11px;
            font-weight: bold;
            color: #333;
            gap: 5px;
        }
        
        .action-btn:hover {
            background-color: #e0e0e0;
            border-radius: 4px;
        }
        
        .shortcut-key {
            color: gray;
            padding: 2px 6px;
            border-radius: 3px;
            font-size: 10px;
        }



#product-details {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f4faff;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  transition: all 0.2s ease-in-out;
}
#product-details:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
#product-details p {
  margin: 6px 0;
}
#product-details img {
  display: block;
  margin: 12px auto;
  max-width: 120px;
}


.cart-list {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
}

.cart-list div {
  background-color: #eef6fb;
  border-radius: 5px;
  padding: 8px 12px;
  margin-bottom: 8px;
  font-size: 13.5px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}
.cart-list div:hover {
  background-color: #d9edf8;
}


    .add-to-cart {
      margin-top: 10px;
      padding: 10px;
      width: 100%;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
    }
    .add-to-cart:hover {
      background-color: #0056b3;
    }
    
    /* CSS */
.input-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  font-family: 'Poppins', sans-serif;
}

.input-group label {
  font-weight: 500;
  margin-bottom: 5px;
  color: #333;
}

.valor-pago-total {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.valor-pago-total:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}
